@tailwind base;
@tailwind components;
@tailwind utilities;

.home-bg{
    background-image: url("../images/fox-img.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: top; */
    height: 100vh;
}

.content-mask{
    height: 100%;
    width: 100vw;
    text-align: center;
    color: white;
    
    background-color: rgb(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
}

.content{
    margin-top: -210px;
}

@media (max-width: 768px){
    .home-bg{
        background-position: 20% 20%;
    }
}