*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
}

/* home */

.hero-section,
.interraction-section,
.exotic-section{
    flex: 1 1 auto;
}

.navbar a{
    font-weight: 700;
    color: black;
}

.hero-wrapper > *{
    min-width: 200px;
    max-width: 500px;
    flex: 1 1 0;
}

.exotic-section{
    background-color: #B1F0F7;
}

.exotic-wrapper img{
    width: 300px;
    height: 200px;
    border-radius: 20px;
}

.exotic-wrapper a{
    color: #413b3d;
}

.left-animals > *:hover,
.right-animals > *:hover{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 30px;
    padding: 10px;
}

.interraction-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.quote-section {
    min-height: 400px; 
    align-items: center;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(103, 146, 175);
    position: relative;
}

.quote-wrapper{
    z-index: 999;
}

.quote-wrapper p{
    color: white;
}

.content{
    margin-top: -210px;
}

/* forum */

.forum-header,
.forum-wrapper{
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.forum-wrapper{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: start;
}

.forum-wrapper aside{
    background-color: #C9E6F0;
    height: 80vh;
    border-radius: 10px;
    position: sticky;
    top: 70px;
    display: flex;
    justify-content: center;
}

aside ul{
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

aside ul:first-child{
    margin-top: 30px;
}

aside ul li{
    font-size: 1.5rem;
}

aside a{
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

aside a:hover{
    background-color: #b8d3df;
    text-decoration: none;
    color: black;
}

aside a i{
    font-size: 20px;
    color: rgb(57, 132, 145);
    margin-right: 10px;
}

.hover{
    background-color: #9cc4d5;
    text-decoration: none;
    color: black;
    padding-left: 20px;
    padding-right: 15px;
}

@media (max-width: 900px){
    .forum-wrapper{
        grid-template-columns: 1fr;
    }
    .forum-wrapper aside{
        display: none;
    }
}

.forum-img-wrapper{
    position: relative;
    display: block;
    text-decoration: none;
    color: white;
}

.forum-img-mask{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forum-img-mask span{
    display: none;
    font-weight: bold;
    font-size: large;
}

.forum-img-wrapper:hover .forum-img-mask{
    background: rgba(0, 0, 0, 0.6);
}

.forum-img-wrapper:hover .forum-img-mask span{
    display: inline;
}

.forum-img{
    max-width: 100%;
    width: 320px;
    min-width: 200px;
    max-height: 200px;
    height: 200px;
}

.readmore-container{
    background-color: #FBFBFB;
    border: 2px solid rgb(235, 227, 227); 
    border-radius: 3px; 
    padding: 3rem;
}

.readmore-content-wrapper{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.readmore-description{
    flex: 2 1 0;
    min-width: 320px;
}

.readmore-detail{
    align-self: flex-end;
    flex: 1 1 0;
    background: #FBFBFB;
    max-width: fit-content;
    min-width: 320px;
    height: fit-content;
    color: black;
    padding: 1rem;

    border: 2px solid #3d3d39;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.detail-seperator{
    width: 100%;
    height: 2px;
    background-color: #3d3d39;
}

.readmore-detail img{
    height: auto;
    max-width: 100%;
}

.detail-wrapper{
    display: flex;
    gap: 10px;
}

.readmore-title-wrapper{
    width: 100%;
    position: relative;
}

.readmore-title::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: rgb(78, 74, 74);
    position: absolute;
    bottom: -5px;
    left: 0;
}

.comment-heading{
    display: flex;
    position: relative;
}

.comment-heading::after{
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: rgb(54, 47, 47);
    display: block;
    bottom: -10px;
    position: absolute;
}

.comment-description{
    text-indent: 1em;
    text-align: justify;
}

/* about us */


.aboutus-section{
    background-color: #F2F9FF;
    height: 100%;
    width: 100%;
    color: black;

    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.aboutus-section img{
    max-width: 250px;
    flex: 1;
    display: block;
}

.aboutus-section div{
    text-align: center;
    max-width: 600px;
    margin-bottom: 30px;
}

.aboutus-section h1{
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.aboutus-section div:last-child{
    margin-bottom: 100px;
}


/* profile */

.profile-image-wrapper,
.profile-image{
    border-radius: 50%;
}

.profile-image-wrapper{
    position: relative;
    width: 300px;
    height: 300px;
    border: 5px solid black;
}

.profile-image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.profile-informations{
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 700px){
    .profile-container{
        justify-content: center;
        flex-wrap: wrap;
    }
    .seperator{
        display: none;
    }
}